/* Add CSS Styling */

.odd {
    background-color: #ff9999;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second {
    color:#0000ff;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: #7fffd4;
    font-size: 24px;
    font-weight: bold;
}